<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gitdealflow.weekly-digest</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/sipi/launch-projects/vc-deal-flow-signal/monitoring/run-weekly-digest.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>16</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/sipi/launch-projects/vc-deal-flow-signal/monitoring/weekly-digest-launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sipi/launch-projects/vc-deal-flow-signal/monitoring/weekly-digest-launchd.err</string>
</dict>
</plist>
